.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(44, 46, 44);
  min-height: 100vh;
  width: 98%;
  padding: 30px 15px 10px 15px;
  &__element {
    height: 260px;
    width: 650px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: rgb(92, 95, 87);
    display: flex;
    &__photo {
      img {
        height: 260px;
        border-radius: 12px 0 0 12px;
        margin-right: 12px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &__one {
        span {
          font-size: 25px;
          font-weight: bold;
          color: rgb(255, 255, 255);
        }
        span:hover {
          cursor: pointer;
          color: rgb(255, 143, 38);
        }
        .element {
          display: flex;
          div {
            height: 10px;
            width: 10px;
            background-color: honeydew;
            border-radius: 50%;
            margin-top: 15px;
          }
          p {
            margin: 12px;
            color: rgb(255, 255, 255);
          }
        }
      }
      &__two,
      &__three {
        span {
          font-size: 16px;
          color: rgb(184, 184, 184);
        }
        p {
          margin-top: 10px;
          font-size: 20px;
          color: rgb(255, 255, 255);
        }
        p:hover {
          cursor: pointer;
          color: rgb(255, 143, 38);
        }
      }
    }
  }
}
