<div class="container">
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
  <div class="container__element">
    <div class="container__element__photo">
      <img src="https://rickandmortyapi.com/api/character/avatar/82.jpeg" alt="">
    </div>
    <div class="container__element__info">
      <div class="container__element__info__one">
        <span>Cronenberg Rick</span>
        <div class="element">
          <div></div>
          <p>Unknown - Cronenberg</p>
        </div>
      </div>
      <div class="container__element__info__two">
        <span>Last known location:</span>
        <p>Earth (C-137)</p>
      </div>
      <div class="container__element__info__three">
        <span>First seen in:</span>
        <p>Rick potion #9</p>
      </div>
    </div>
  </div>
</div>